
* {
    margin: 0;
    padding: 0;
}
body {
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: black;
    font-size: 2vmin;
}
.navBar {
    background-color: black;
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-family: Consolas;
    margin-top: 2vmin;
}

.navBar h1 {
    margin: 10px;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.navBar li {
    float: left;
}
  
.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
}

li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
    color: white;
    font-family: Consolas;
    font-size: 5.5vmin;

}

.container {
    column-count: 3;
    column-gap: 5px;
    width: 100%;
    max-width: 1400px;
    display: flexbox; 
    grid-auto-flow: dense;
    grid-gap: 1vmin;
    padding: 30px 0;

  }


.thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 1px;

}


@media(max-width: 1200px) {
    .container {
        column-count: 2;
    }
    body {
        font-size: 2.5vw;
        margin: 10vmin;
        margin-top: 2vmin;
    }

}

@media(max-width: 600px) {
    .thumbnail img {
        margin-bottom: 2px;
    }

    .container {
        display: block;
        padding: 50px, 0, 0, 0;
        width: 100%;
        column-count: 1;
    }
    body {
        margin: 0;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 3.5vw;

    }

}
