body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: black;
}
.navBar {
    background-color: black;
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-family: Consolas;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.navBar li {
    float: left;
}
  
.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
    color: white;
    font-family: Consolas;

}

